*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    color: #c0c0c0;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #252525;
}

i{
    font-size: 1.2rem;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: inherit;
}

.main{
    width: 100%;
    height: 100vh;
}

.top{
    width: 100%;
    height: 85%;
    padding: 30px 40px;
    background-color: #111111;
    border-radius: 0 0 50px 50px;
    display: flex;
    justify-content: space-between;
}

/* Top Left section */
.left{
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-right: 1px solid #444444;
}

.name h1{
    font-size: 2.5rem;
    font-weight: 800;
    color: #e13600;
}

/* Nav container */
.nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
}

.navlinks, .libraryInnerdiv div, .playlistInnerdiv div{
    width: 80%;
    cursor: pointer;
    display: flex;
    gap: 15px;
    padding: 6px 20px 6px 20px;
    border-radius: 10px;
}

.navlinks:hover, .libraryInnerdiv div:hover, .playlistInnerdiv div:hover{
    background-color: #e13600;
}

.navlinks h3, .libraryInnerdiv h4, .playlistInnerdiv h4{
    font-weight: 400;
    font-size: 1rem;
}

.library h3, .playlist h3{
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.libraryInnerdiv, .playlistInnerdiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    /* padding-left: 20px; */
}

.libraryInnerdiv div, .playlistInnerdiv div{
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

/*Top Middle section*/
.middle{
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    gap: 20px;
    align-items: center;
}

.searchDiv{
    width: 90%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    background-color: #333333;
    justify-content: center;
    border-radius: 20px;
}

.searchDiv input{
    width: 100%;
    height: 38px;
    padding: 5px 10px;
    background-color: #333333;
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    border-radius: 20px;
}

/* middle top section */
.middle-top, .middle-bottom{
    width: 100%;
    /* height: 30%; */
    display: flex;
    padding: 0px 40px;
    flex-direction: column;
}

.middle-bottom{
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.middle-bottom::-webkit-scrollbar {
    display: none;
}

.middle-top h4, .middle-bottom h4{
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 1rem;
}

.middle-top h4{
    margin-bottom: 20px;
}

.artist-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2.2rem;
}

.artists{
    width: 7rem;
    height: 7rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;

}

.artists h4{
    width: 100%;
    position: absolute;
    bottom: -10%;
    color: #ffffff;
    font-size: 0.7rem;
    font-weight: 500;
    text-align: center;
}

.artists img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Song section (to charts)*/
.song-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.song-div{
    width: 100%;
    height: 3.5rem;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-radius: 10px;
    background-color: #333333;
    cursor: pointer;
}

/* .song-div p{
    width: 5%;
    font-size: 1rem;
    font-weight: 400;
} */

.song-div .song{
    width: 45%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.song-img{
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
    border-radius: 10px;
}

.song-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.song-div h4{
    font-size: 1rem;
    font-weight: 400;
}

.song-desc{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Top right section */
.right{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
    align-items: center;
}

.right-top{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.right-top i{
    font-size: 1.5rem;
    cursor: pointer;
}

.right-bottom{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 20px;
}

.right-bottom h3{
    font-size: 1.2rem;
    font-weight: 600;
}

/* album section */
.album-div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    background-color: #252525;
}

.album-info{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #383838;
    border-radius: 10px;
    gap: 20px;
}

.imgdiv{
    width: 6rem;
    max-height: 100%;
    object-fit: contain;
    border-radius: 10px;
    overflow: hidden;
}

.imgdiv img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.album-name{
    height: 100%;
    width: calc(100% - 6rem);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.album-name h3{
    font-size: 1rem;
    font-weight: 500;
}

.album-name h4{
    font-size: 0.9rem;
    color: #888888;
    font-weight: 500;
}

.fav-album{
    display: flex;
    gap: 15px;
}

.album{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
}

.song-list{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.song-list li div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #444444;
}

.song-list li div h4{
    font-size: 1rem;
    font-weight: 500;
}

.duration{
    font-size: 0.9rem;
    font-weight: 400;
}

/* bottom section */
.bottom{
    width: 100%;
    height: 15%;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* bottom left section */
.controls{
    width: 15%;
    display: flex;
    justify-content: center;
}

.controls i{
    font-size: 1.5rem;
    cursor: pointer;
    padding: 7px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.controls i:hover{
    background-color: #e13600;
}

/* Bottom middle section */
.songDetails{
    max-width: 65%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.songInfo, .progress{
    display: flex;
    gap: 20px;
    align-items: center;
}

.songInfo img{
    width: 4rem;
    height: 4rem;
    border-radius: 10px;
    object-fit: cover;
}

.namecontainer h4{
    font-size: 1rem;
    font-weight: 500;
}

.namecontainer h6{
    font-size: 1rem;
    color: #888888;
    font-weight: 400;
}

/* Progress section */
.progressBar{
    /* min-width: 15rem; */
    width: 30vw;
    height: 4px;
    background-color: #444444;
    border-radius: 5px;
    cursor: pointer;
}

.progressBar span{
    width: 60%;
    height: 100%;
    background-color: #e13600;
    border-radius: 5px;
    display: block;
}

/* Bottom right section */
.volume{
    width: 20%;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.volume i{
    font-size: 1.5rem;
    cursor: pointer;
}

.volume input[type="range"]{
    height: 5px;
    background-color: #444444;
    border-radius: 5px;
    outline: none;
    accent-color: #e13600;
    cursor: pointer;
}